%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapsable-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Calorie Tracker', meals_path, class: 'navbar-brand'

    .collapse.navbar-collapse#collapsable-navbar
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li
            = react_component 'UserSettings',
              {form: @data[:user_form], user: current_user.as_json(only: [:first_name, :last_name, :email, :daily_calorie_goal]), user_name: current_user.humanized_name},
              {tag: 'li'}
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Login', new_user_session_path
          %li
            = link_to 'Sign Up', new_user_registration_path
