!!!
%html
  %head
    %title CalorieTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .jumbatron.main-jumbatron
      = render 'layouts/notifications'
      .container
        = render 'layouts/navbar'
    .wrap
      .container
        .container
          .row#user-settings
        .container
          .col-sm-8
            = yield
          .col-sm-4#calorie-tracker
